@import "bootstrap-sprockets";
@import "bootstrap";

body{

}
.top-header{
  background: purple;
  color: white;
  height: 30px;

    .app-title{
      font-size: 20px;
      font-weight: bold;
      float: left;
     }
    .user-name, .about-app, .auth-action, .homepage{
      float: left;
      margin-right: 20px;
      padding: 5px;
     }
     .about-app{
      float: left;
     }
     .auth-action{
      float: left;
     }

}
.left-section{
  border-right: solid 1px rgba(199,195,199,1);
}
.random-user{
  border-right: solid 1px rgba(199,195,199,1);

}

.feed-item{
  // border
   -webkit-box-shadow: -5px -4px 15px -6px rgba(199,195,199,1);
    -moz-box-shadow: -5px -4px 15px -6px rgba(199,195,199,1);
    box-shadow: -5px -4px 15px -6px rgba(199,195,199,1);
   margin-bottom: 20px;
   padding: 20px;

  .top-item{
    display: inline-block;
    .avatar{
      float: left;
      img {
        height: 50px;
        width: 50px;
      }
     }
    .name{
      float: left;
      margin-left: 10px;
      h4{
        margin: 0;
        padding: 0;
      }
    }
  }
}