@import "bootstrap-sprockets";
@import "bootstrap";

body{

}
.top-header{
  background: purple;
  color: white;
  height: 30px;
}
.left-section{
  border-right: solid 1px black;
}
.random-user{
  border-right: solid 1px black;

}